{% layout none %}

{% assign on_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% endif %}

<div class="img-holder">
  <img src="{{ product.images[0] | product_img_url: '1200x' }}">
</div>

<div class="txt-holder">

  <form id="product-form" action="/cart/add" method="post" class="variants" data-id="product-actions-{{product.id}}">

    <div id="product-variants">
      {% assign variantCount = product.variants | size %}
      {% if product.available %}
      {% if variantCount > 1 %}
      <select id="product-select-{{product.id}}" name="id" style="display:none">
        {% for variant in product.variants %}
        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
          value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money }}
        </option>
        {% endfor %}
      </select>

      {% else %}
      <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
      {% endif %}
      {% endif %}
    </div>

    <h3>{{ product.title }}</h3>

    {% if product.compare_at_price > product.price %}
    <span class="compare-price">
      {{ product.compare_at_price_max | money }}
    </span>
    <span class="price" itemprop="price">
      {{ product.price | money }}
    </span>
    {% else %}
    <span class="price" itemprop="price">
      {{ product.price | money }}
    </span>
    {% endif %}

    {% if product.description != blank %}
    <p>{{ product.description }}</p>
    {% endif %}

    {% assign current_variant = product.selected_or_first_available_variant %}

    {% if current_variant.sku != blank %}
    <span class="code">SKU: {{ current_variant.sku }}</span>
    {% endif %}

    <div class="btn-row">
      <div class="btn-group">
        <span class="qty minus" data-qty="minus">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icon">
            <path fill="#444"
              d="M17.543 11.029H2.1A1.032 1.032 0 0 1 1.071 10c0-.566.463-1.029 1.029-1.029h15.443c.566 0 1.029.463 1.029 1.029 0 .566-.463 1.029-1.029 1.029z" />
            </svg>
        </span>
        <input type="text" class="quantity" name="quantity" value="1" min="1">
        <span class="qty plus" data-qty="plus">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icon">
            <path fill="#444"
              d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z" />
            </svg>
        </span>
      </div>

      {% if sold_out %}
      <button type="button" name="add" class="btn btn__primary" {%if product.available != true %}disabled{% endif %}>
        {{ 'products.product.unavailable' | t }}
      </button>
      {% else %}
      <button id="AddToCart" type="submit" name="add" class="btn btn__primary">
        {{ 'products.product.add_to_cart' | t }}
      </button>
      {% endif %}
    </div>

    <p class="stock-error hide">You can't add more {{ product.title }} to the cart.</p>
    
  </form>

</div>